html {
    position: relative;
    min-height: 100%;
    background-color: #ffffff;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
body{
    background-color: #EDEDED;
    color: #5e5e5e;
    margin-bottom: 50px;
    padding-top: 50px;
}
body.page-category,
body.page-insert,
body.page-account{
    background-color: white;
}
input{
    width: 100%;
}
input[type="number"] {
    -moz-appearance: textfield;
}

header,
main{
	//display: none;	
}
.btn{
    border-radius: 0px !important;
}
.VebkoLoadingContainer{
    margin: 30px auto;
    position: fixed;
    text-align: center;
    top: 54px;
    z-index: 100000;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.form-control{
    font-size: 14px;
}

.vebkoBox{
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 8px 0px 0px 0px !important;
    padding: 8px !important;
}
.seacrhBoxContainer > form > div:last-child{
    margin-top: 8px !important;
}
.vebkoBoxLabel{
    border-bottom: 1px solid #e2e2e2;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 10px !important;
    padding: 0 0 4px !important;
}
.vebkoBoxLabelDescription{
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}
.vebkoBoxTitle{
    font-size: 24px;
    border-bottom: 0px solid #e2e2e2;
}
.vebkoSearchBoxLabel{
    font-size: 14px;
}
.vebkoSearchBoxBody{
    margin-top: 8px;
    border-top: 1px solid #e2e2e2;
}
.vebkoAdsBox{
    border: 1px solid #5E5E5E;
    color: #5E5E5E;
    display: block;
    font-size: 18px;
    height: 60px;
    padding: 17px;
    text-align: center;
    text-decoration: none !important;
}
.vebkoAdsBox:hover{
    background-color: #800100;
    color: #EDEDED;
}

.vebko-padding-0{
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.vebko-padding-3{
    padding: 3px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.vebko-padding-6{
    padding: 6px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}
.vebko-padding-10{
    padding: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.vebko-padding-11{
    padding: 11px !important;
    padding-left: 11px !important;
    padding-right: 11px !important;
}
.vebko-padding-12{
    padding: 12px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.vebko-padding-right-5{
    padding-right: 5px !important;
}
.vebko-padding-left-5{
    padding-left: 5px !important;
}
.vebko-padding-top-5{
    padding-top: 5px !important;
}
.vebko-padding-bottom-5{
    padding-bottom: 5px !important;
}
.vebkoBtn{
    border: 1px solid #e0e0e0;
    border-radius: 0 !important;
    color: gray;
    display: block;
    font-size: 12px;
    height: 100%;
    padding: 12px;
    text-transform: uppercase;
    width: 100%;
    background-color: white;
}
.vebkoBtn:hover{
    background-color: #800100 !important;
    color: white;
}

.container-fluid,
.container{
    width: 100% !important;
    max-width: 960px !important;
    padding: 0px;
}

.note-editing-area{
    min-height: 160px;
}

header nav{
    background-color: #800100 !important;
    color: white !important;
    margin-bottom: 0px !important;
    border: 0px solid transparent !important;
}
.vebkoNav{
    color: white !important;
    background: #800100 none repeat scroll 0 0;
    display: block;
    height: 50px;
    padding: 13px 0 0;
    text-align: center;
}
.vebkoNav:hover{
    background-color: #ff3333;
}
.vebkoNav .fa{
    margin-right: 1px;
}
a.vebkoNav{
    text-decoration: none;
}
.vebkoNavUser img{
    width: 30px;
    padding-right: 2px;
}
.not-active {
    pointer-events: none;
    cursor: default;
}
.headerSelectLanguageCountry{
    background-color: yellow !important;
}
.headerSelectLanguageCountryContainer{    
    padding: 10px 0px !important;
    text-align: center;
    color: #ff3333;
}
.headerSelectLanguageCountryContainer a{
    color: #800100;
    padding: 0px 6px;
}
a.navbar-brand{
    color: white !important;
}
.beforecontainer{
    background-color: #F7F7F7 !important;
}
.vebkoInline{
    display: inline;
}

/*home page start*/
.homepage{
    background-color: white;
    padding: 90px 0px 0px 0px;
}
.homepage img{
    width: 100%; 
}

.homepage .page-header{
    margin: 0px;
}
.vebkoMainText{
    font-size: 16px;
    color: #800100 !important;
}
.vebkoMainTextBody {
    color: #FF6600 !important;
}
.vebkoMainTextImage{
    margin-bottom: 10px;
}
.vebkoMainTextBoddom{
    margin-top: 60px;
    font-size: 20px;
    color: #800100 !important;
    text-align: center;
}

.homepage .vebkoMainCategory{
    border-radius: 0px;
    padding: 20px;
    margin-bottom: 40px;
}
.homepage .vebkoMainCategoryAdd{
    padding: 10px;
    background-color: #ffda00;
}

.homepage .vebkoMainCategory h3{     
    margin: 0;
    padding-bottom: 8px;
}
.vebkoMainCategoryOneMain{
    margin-bottom: 10px;
}
.vebkoMainCategoryOne{	
    height: 110px !important;
    width: 120px;
    display: block;
    margin: 0px auto !important;
}
	


.vebkoMainCategoryOne a{
    width: 96%;
    height: 96%;
    padding: 12px;
    padding-top: 33px !important;
    border-radius: 6px !important;
    border: 1px solid #e0e0e0;
    color: gray;
    display: block;
    font-size: 12px;
    color: white;
    text-transform: capitalize;
}
.vebkoMainCategoryOne:nth-child(1) a{
    background-color: #5bc0de;
}
.vebkoMainCategoryOne:nth-child(2) a{
    background-color: #5bc0de;
}
.vebkoMainCategoryOne:nth-child(3) a{
    background-color: #5bc0de;
}
.vebkoMainCategoryOne:nth-child(4) a{
    background-color: #5bc0de;
}
.vebkoMainCategoryOne:nth-child(5) a{
    background-color: #5bc0de;
}
.vebkoMainCategoryOne:nth-child(6) a{
    background-color: #5bc0de;
}
.vebkoMainCategoryOne a:hover{
    background-color: #800100 !important;
    color: white;
}
.vebkoMainCategoryAllContainer a{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 0px !important;
    border: 1px solid #e0e0e0;
    color: gray;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}
.vebkoMainCategoryAllContainer a:hover{
    background-color: #800100 !important;
    color: white;
}
.vebkoLoginBtn{
    margin-top: 8px;
    margin-bottom: 8px;
}
.vebkoMainCategoryContainer ul{
    padding-left: 0px;
    list-style-type: none;
}
.vebkoMainCategoryContainer li{
    margin: 6px 0px;

}

.vebkoMainCategoryOne i{
    padding-bottom: 6px !important;
    margin-bottom: 6px !important;
    border-bottom: 1px solid #e0e0e0;
	margin-left: 4px;
}
.vebkoMainInsert a{
    width: 100%;
}


/*home page end*/
/*footer start*/
footer#site-footer{
    background-color: #800100 !important;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: #f5f5f5;
}
.footerFirst{
    border-bottom: 1px solid white;
    font-size: 12px;	
}
.footerFirst a{
    color: white;
    font-size: 12px;
} 

/*footer end*/
/* searsh start*/
.seacrhHeader{
    background-color: #ededed;
    margin-top: -20px;
}

.seacrhHeader{
    text-align: center;
}
.html-page-electronics,
.html-page-vehicle,
.html-page-estate,
.html-page-clothing,
.html-page-service,
.html-page-other,
.html-page-account{
    background-color: #ededed;
}
.seacrhMainLeft{
    padding: 0px;
    margin-bottom: 8px;
}
.seacrhBox{
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 10px;
	margin-right: 8px;
    padding: 10px !important;	
}
.seacrhBoxContainerTitle{
    padding: 0px 0px 0px 0px;
}
.seacrhBoxLogoContainer i{
    font-size: 100px;
}
.seacrhMainRight{
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0px !important;
    //margin: 0px 6px !important;
    //width: calc(100% - 12px);
}

.searchListAds{
    background-color: #FEF1F1;
    padding: 6px;
    //margin: 0px 8px;
}
.searchListAdsOne{
    width: 100%;
    height: 240px;
    background-color: yellow;
    margin-bottom: 20px;
    padding: 10px;
}
#loading{
    bottom: 62px;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2147483647;
}
#loading img{
    width: 40px;
}

.searchyear .searchyearend{
    padding: 0px 0px 0px 5px;
}
.searchSingleAd a:hover{
    text-decoration: none;
}

.searchSingleAd{
    padding: 12px !important;
    background-color: white;
    border-bottom: 1px solid #EDEDED;
    text-align: left;
}
.homepage .searchSingleAd{
    padding: 4px !important;
    background-color: white;
    border-bottom: 1px solid #EDEDED;
    text-align: left;
}
.searchSingleAd:hover{
    background-color: #FCF8E3;
    color: white !important;
}
.homepage .searchSingleAd img{
    border: 1px solid #EDEDED;
    padding: 2px;
    object-fit: cover;
    width: 100%;
    height: 112px;
}


.searchSingleAdMiddle {
    padding: 0px 8px;
    margin-top: 3px;
}
.searchSingleAdMiddleTitle{
    color: #595959;
    font-size: 16px;
	font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 2px;
    display: -webkit-box;
    line-height: 18px;
    max-height: 36px;
    -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   -webkit-box-orient: vertical;
}
.searchSingleAdMiddleTitle:first-letter{
    text-transform: capitalize !important;
}
.searchSingleAdMiddleDate{
    color: gray;
    font-size: 10px;
    margin: 1px 0px 3px 0px;
}

.searchSingleAdLeft {
    padding-right: 10px !important
}
.searchSingleAdMiddleBody{
    color: #323232;
    font-size: 14px;
    margin-bottom: 8px;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.4em;
}
.searchSingleAdRightPrice{
	color: #800100;
	font-size: 14px;
	text-align: right;
}
.searchSingleAdRightMunicipality{
	margin-bottom: 8px;
	color: gray;
}
.searchSingleAdRightDescription{
	margin-bottom: 8px;
    color: gray;
    display: -webkit-box;
    line-height: 18px;
    margin-bottom: 8px;
    max-height: 54px;
	-webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   -webkit-box-orient: vertical;
}
.searchSingleAdRightReadMore{
    margin: 10px 0px;
    text-align: center;
	
}

.viewcar{
    //margin: -20px 0px 8px 0px;
    background-color: #EDEDED;
}
.viewCarBoxConteiner {
    padding: 8px;
}

.viewCarBoxConteiner > div{
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 0 8px 0px !important;
    padding: 10px !important;
}
.viewCarBoxConteiner > div.viewCarBoxFirst,
.viewCarBoxConteiner > div.viewCarBoxMessage{
	padding: 0px !important;
}

.viewCarRightBoxConteiner{
    padding: 10px !important;
    margin: 8px 0px;
    background-color: white;
    border: 1px solid #b2b2b2;
}
.subBox-2,
.subBox-3{
    margin-top: 8px;
}
.vebkoSubBodyButton{
    margin: 0px 6px;
}
.vebkoSubBody{
    margin: 8px 0px;
}
.vebkoSubPhone{
    margin-top: 8px;
}
.vebkoSubPhone .btn{
    border-radius: 8px !important;
}
.viewCarHeader{
    margin: 6px 0;
}
.viewCarTitle{
    font-size: 20px;
    font-weight: 700;    
    text-transform: lowercase;
}
.viewCarDate{	
    font-size: 12px;
}
.viewCarPriceEuro{	
    font-size: 12px;
}
.searchSingleAdMiddleTitle:first-letter,
.viewCarTitle:first-letter {
    text-transform: uppercase !important;
}
.viewCarPrice {
    //font-size: 20px;
    //margin-top: 4px;
    text-align: right;
    //padding-right: 4px !important;
}
.viewCarPrice .viewCarPriceEuro{
    color: red;
    font-size: 14px;
}
.viewCarPrice .viewCarPriceEuro{
    color: #800100;
    font-size: 16px;
}
.viewCarPriceSecond{
    font-size: 12px;
}
.adsCarBodyImages img{
    margin: 6px 0px !important;
}
.viewCarInfo,
.carContact,
.ads_share_and_contact{
    padding: 8px 0px !important;
}
.viewCarInfo,
.carContact{
    border-bottom: 1px solid #EDEDED;
}
.viewCarRight > div,
.ads_contact > div{
    padding: 2px 0px;
}
.adsContactPhoneCall{
    text-align: right;
}

.bottomButton{
    position: fixed;
    right: 0px;
    bottom: 8px;
    float: right;
    width: 70px;
}
.insertButtonSubmit{
    padding: 0px !important;
}
.bottomButtonOne{
    margin: 4px;
    border-radius: 63px !important;   
    font-size: 18px !important;    
    width: 46px !important;
    height: 46px !important;
    padding: 10px !important;
    z-index: 2147483647;
    float: right !important;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
    border: 0px solid transparent  !important;
}
.bottomButtonOneHome,
.bottomButtonOneTag,
.bottomButtonOneAdd{
    font-size: 16px !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 20px !important;
    padding: 7px !important;
}
#queryRowStart{
    font-size:0px;
    display:none;
}
#body {
    overflow:scroll; 
    max-height:600px;
}
.img{
    max-width: 100%;
    max-height: 100%;
    height: inherit !important;
}
/*vebkoInsertCar start*/
.vebkoInsertCarLoading{
    text-align: center !important;
    margin: 34px 0px;
}
.vebkoInsertCarLoadingBox{
    text-align: center;
}
.vebkoInsertCarLoadingBoxText{
    margin-top: 12px;
}
.vebkoInsertCar #body{
    height: 100px;
    width: 100%;
}
.previewImageBox {
    margin: 10px 0px;
}


.mainImage .previewImage img{
    height: 200px !important;
    width: auto;
    max-width: 100%;
}
.imageGallery .previewImage img{
    height: 90px;
    width: auto;
    max-width: 100%;
}
#gallery{
    margin: 4px;
}
#gallery .content{
    height: 520px;
    border: 1px solid #a5a5a5;
}
#gallery .content img{
    padding: 4px;
    max-width: calc(100% - 10px);
    max-height: 520px;
    display: block;
    margin: 0px auto;
}
.thumbnail {
    border: 0px solid transparent !important;
    margin-bottom: 0px;
}
.thumb{
    display: inline;
    float: left;	
}
.mainImage .previewImage img{
    height: 200px;
}
.imageGallery  .previewImage {
    height: 90px;
}
.thumb a img{
    width: auto;
    padding: 2px 2px 0px 0px;
    max-height: 80px;
}
.uploadImage {
    margin: -32px 0px 0px 0px;
}
.uploadImage button{
    border-radius: 0;
    font-size: 12px;
    margin-left: 2px;
    margin-top: 5px;
    padding: 3px 6px;
    opacity: 0.8;
}
input[type="file"]{
    width: 80px;
    overflow:hidden;
}
#ads_id{
    display: none !important;
}
/*suggestion right collum start*/
.vebkoSeachSingleBox {
    padding: 6px 0px 4px 0px !important;
    border-bottom: 1px solid #EDEDED;
    font-size: 12px;
}
.vebkoSeachSingleBox a{
    text-decoration: none;
    color: gray;
}
.vebkoSeachSingleBox img{
    width: 100%;
}
.vebkoSeachSingleBoxTitle{
    display: block;
    height: 4em;
    line-height: 1.3em;
    margin-top: -2px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}
.vebkoBoxLabelMarketingTitle{
	text-align:center;
	color: gray;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: -4px 0px 4px 0px;
}
/*suggestion right collum end*/
/* message start*/
.vebkoMessage{
    position: fixed;
    z-index: 999999;
    text-align: center;
    width: 100%;
    max-width: 400px;
    top: 70px;
    display: none;
}
.alert{
	margin-bottom: 0px;
}
.alert-success,
.alert-danger{
    display: block;
}



/* account start */
body.page-account{
	background-color: #EDEDED
}
.vebkoAccount{
	//margin-top: 8px;
}
.vebkoAccountTitle{
	font-size: 18px;
}
.vebkoSubBoxBodySingle{
	margin: 4px auto;
}
.vebkoSubBoxBodySingleLeft img{
	width: 100%;
}
/* account end */
/* maps start */
.vebkoBoxBodyLocationData{
	margin-bottom: 8px;
}
/* maps end */


div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu .scrollMenuSingle {
    display: inline-block;
    text-decoration: none;
    
}
/*vebkoInsertCar end*/

/*store start*/
a.storeSingle{
    display: block;
    text-align: center;
    height: 200px;
    color: #5e5e5e;
}
a.storeSingle:hover{
    background-color: yellow;
}
.storeSingleTitle{
    height: 180px;
    position: block;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 80%;
    margin: -10% 0 0 -40%;
}
.storeLogoMain{
    width: 64px;
    height: 64px;
    display: block;
    margin: 0px auto !important;
    text-transform: uppercase;
    margin: 2px;
}
.storeLogo{
    line-height: 64px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    border: 0px dashed yellow;
    background-color: yellow;
    border-radius: 4px;
}
.storeLogo-0{
    background-color: #129FEA;
}
.storeLogo-1{
    background-color: #27AE60;
}
.storeLogo-2{
    background-color: #FF6600;
}
.storeLogo-3{
    background-color: #27AE60;
}
.storeLogo-4{
    background-color: #FF6600;
}
.storeLogo-5{
    background-color: #419641;
}
.storeLogo-6{
    background-color: #FF6600;
}
.storeLogo-7{
    background-color: #129FEG;
}
.storeLogo-8{
    background-color: #000080;
}
.storeLogo-9{
    background-color: #5bc0de;
}
.storeLogo-A{
    background-color: #5cb85c;
}
.storeLogo-B{
    background-color: #129FEA;
}
.storeLogo-C{
    background-color: #595959;
}
.storeLogo-D{
    background-color: #66afe9;
}
.storeLogo-E{
    background-color: #761c19;
}
.storeLogo-F{
    background-color: #B30000;
}
.storeLogo-G{
    background-color: #800080;
}
.storeLogo-H{
    background-color: #aa0000;
}
.storeLogo-I{
    background-color: #b8b8b8;
}
.storeLogo-J{
    background-color: #ffda00;
}
.storeLogo-K{
    background-color: #129FEA;
}
.storeLogo-L{
    background-color: #595959;
}
.storeLogo-M{
    background-color: #66afe9;
}
.storeLogo-N{
    background-color: #761c19;
}
.storeLogo-O{
    background-color: #B30000;
}
.storeLogo-P{
    background-color: #800080;
}
.storeLogo-Q{
    background-color: #aa0000;
}
.storeLogo-R{
    background-color: #b8b8b8;
}
.storeLogo-S{
    background-color: #ffda00;
}
.storeLogo-T{
    background-color: #ffda00;
}
.storeLogo-U{
    background-color: #129FEA;
}
.storeLogo-V{
    background-color: #595959;
}
.storeLogo-W{
    background-color: #66afe9;
}
.storeLogo-X{
    background-color: #761c19;
}
.storeLogo-Y{
    background-color: #B30000;
}
.storeLogo-Z{
    background-color: #800080;
}


.storeLogo .logoStoreNotExist:hover{
    background-color: #800100;
    border-radius: 4px;
}
.storeLogo img{
    width: 100%;
    height: 100%;
}
.vebkoStoreTitle{
    text-align: center;
font-size: 18px;
margin: 20px 0px 16px 0px;
border-bottom: 1px solid #EDEDED;
padding-bottom: 4px !important;
}
.homepage .vebkoStoreTitle{
	text-align: left;
	color: #800100;
	margin-bottom: 8px;
	border-bottom: 1px dotted #800100;
	font-weight: 500;
}
.vebkoStoreTitle .vebkoStoreTitleAll{
        text-align: right;
        font-size: 12px;
        padding-top: 8px !important;
}
.vebkoStores{
    text-align: center;
    background-color: #EDEDED;
    margin: 10px 0px;
    padding: 10px !important;
    min-height: calc(100vh - 110px);
}
.homepage .vebkoStores{
    min-height: 110px;
}
.vebkoStore{
    margin-bottom: 6px;
}

.vebkoStoreOne{
    min-height: calc(100vh - 100px);
}
.vebkoAllStoreTitle{
    height: 40px;
}
.vebkoStoreOneTitle{
    
}
.vebkoStoreOne .storeLogoMain img{
    width: 100%;
    height: auto;
}
/*store end*/
/*slider start*/
.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      overflow: hidden;
    }
 .swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 600px !important;
}
/*slider end*/
/******************************************************************************/
/***********************     mobile - start        ****************************/
/******************************************************************************/
@media (max-width: 768px) {
    .homepage{
            padding: 20px 0px;
	}
    .vebkoMainTextBoddom{
        margin-top: 0px;
        font-size: 14px;
    }
    .vebkoMainCategoryOne:nth-child(2) a,
    .vebkoMainCategoryOne:nth-child(4) a,
    .vebkoMainCategoryOne:nth-child(6) a,
    .vebkoMainCategoryOne:nth-child(8) a{
        border-left: 1px solid transparent !important;
    }
    .vebkoMainCategoryOne:nth-child(3) a,
    .vebkoMainCategoryOne:nth-child(4) a,
    .vebkoMainCategoryOne:nth-child(5) a,
    .vebkoMainCategoryOne:nth-child(6) a{
        border-top: 1px solid transparent !important;
    }
    .homepage > .container{
        margin: 0px 3%;
        width: 94% !important;
    }
    main{
        margin-bottom: 90px;
    }
    #seacrhBoxShow{
        background: #800100 none repeat scroll 0 0;
        border-radius: 68px;
        bottom: 4px;
        color: white;
        font-size: 22px;
        height: 54px;
        padding-top: 10px;
        position: fixed;
        right: 4px !important;
        text-align: center;
        width: 54px;
        z-index: 2147483647;
        -webkit-box-shadow: 0px 0px 100px -21px rgba(179,0,0,1);
        -moz-box-shadow: 0px 0px 100px -21px rgba(179,0,0,1);
        box-shadow: 0px 0px 100px -21px rgba(179,0,0,1);
    }
    #seacrhBoxShow:hover{
        background: white none repeat scroll 0 0;
        color: #800100;
    }
    #seacrh{
        display: none;
    }
    .seacrhMain{
        background-color: white;
    }
    .seacrhBox{
        margin: 0px !important;
    }
    .seacrhBoxShow{
        background: yellow none repeat scroll 0 0;
        bottom: 2px;
        position: fixed;
        right: 2px !important;
        text-align: center;
        width: 40px;
        z-index: 2147483647;
    }
    .seacrhMainRight{
        border: 0px solid transparent;
        padding: 0px;
        margin-top: 0px;
    }
    .homepage .searchSingleAd{
        padding: 10px 0px !important;
        margin: 0px 0px !important;
        min-height: auto !important;
    }
    .searchSingleAd img{
        border-left: 0px solid #b8b8b8;
        border-right: 0px solid #b8b8b8;
    }
    .searchSingleAdMiddle {
        margin-top: 0px !important;
    }
    .searchoil,
    .searchyearend,
    .searchkmend{
        padding: 0px 5px 0px 0px !important;
    }

    .searchyearstart{
        padding: 0px 0px 0px 5px !important;
    }
    .searchSingleAdMiddleTitle{
        font-size: 16px;
    }
    .searchSingleAdRightMunicipality{
        font-size: 13px;
        margin-bottom: 0px;
    }
    .searchSingleAdRightDescription{
        margin-top: 6px;
        max-height: 36px;
        -webkit-line-clamp: 3;
    }
    .viewCarTitle{
        font-size: 14px;
    }
    .viewCarPrice {
        font-size: 12px;
    }
    .vebkoMobile-padding-0{
        padding: 0px !important;
        padding-left: 0px !important;
    }
    .vebkoInsertCar .form-group {
            padding: 0px !important;
    }
    div.scrollmenu .scrollMenuSingle {
        width: 120px;
    }
    #search{
        margin: 0px !important;
        padding: 0px !important;
        background-color: #FEF1F1;
    }
    #seacrhBox{
        padding: 0px !important;
    }
    #searchBoxTitle{
        margin: 4px 8px;
        display: none;
    }
    .vebkoSearchBoxBody{
        margin-top: 0px;
    }
    #gallery .content{
        height: 220px;
    }
    #gallery .content img {
        max-height: 220px;
    }
    .thumb a img{
        max-height: 40px;
    }
	.vebkoMainCategoryOne {
		height: 90px !important;
		width: 100px;
		display: block;
		margin: 0px auto !important;
	}
	.vebkoMainCategoryOne a {
		width: 100%;
		height: 100%;
		padding: 12px;
		padding-top: 18px !important;
		border-radius: 6px !important;
		border: 1px solid #e0e0e0;
		color: gray;
		display: block;
		font-size: 12px;
		color: white;
		text-transform: capitalize;
	}
	.storeLogoMain {
		width: 56px;
		height: 56px;
	}
	.storeLogo {
		line-height: 56px;
		text-align: center;
		font-size: 20px;
	}
	.vebkoAllStoreTitle {
		height: 40px;
		font-size: 12px;
	}
	.homepage .searchSingleAd img {
		max-width: 100%;
		object-fit: cover;
		width: 100%;
		height: 90px;
	}
        /*slider start*/
        .swiper-slide img {
           max-height: 320px !important;
       }
       .vebkoStoreOneTitle{
            text-align: center;
        }
        #map_canvas{
            height: 200px !important;
        }

}

@media (max-width: 400px) {
    .vebkoMessage{
            margin: 0px 20px;
            width: calc(100% - 40px);
    }
}
/***********************     Mobile - end        *******************************/

/*******************************************************************************/
/***********************     Desctop - start        ****************************/
/*******************************************************************************/

/***********************     Desctop - end        ******************************/

@media (min-width: 768px) {
	.col-8{
		width: 12.5%;
	}
    .homepage{
        padding: 150px 0px 0px 0px;
    }
    .footerFirst div:nth-child(1){
        text-align: left;
    }
    .footerFirst div:nth-child(3){
        text-align: right;
    }
    .searchSingleAd{
		height: 180px;
	}
    .homepage .searchSingleAd{
		height: 142px;
	}
        
        .vebkoBoxStoreHeader{
    height: 120px;
}
    .vebkoBoxStoreHeader .storeLogoMain{
        width: 100px;
        height: 100px;
        display: block;
        margin: 0px auto !important;
        text-transform: uppercase;
        margin: 2px;
        float: left;
        border: 1px solid #800100;
        padding: 2px;
    }
    .vebkoStoreOneTitleSubTitle{
        height: 108px;
        padding-top: 44px;
    }
    .vebkoStoreOneTitle{
        font-size: 24px;
    }
    .vebkoBoxStoreHeader .storeLogo {
        line-height: 94px;
    }
}


@media (min-width: 400px) {
    .vebkoMessage{
            left: calc(50% - 200px);
    }
}

@media (min-width: 1600px) {
    .container-fluid,
    .container{
        max-width: 1200px !important;
    }
}



